<!DOCTYPE&nbsp;html>
<html>
<head>
    <style>
        div#transitionhovertree {
            float: right;
            width: 100px;
            height: 100px;
            background: blue;
            transition: width 2s;
            -moz-transition: width 2s;
            -webkit-transition: width 2s;
            -o-transition: width 2s;
        }
        div#transitionhovertree:hover {
            width: 300px;
        }
    </style>
</head>
<body>
<div id="transitionhovertree">

</div>
</body>
</html>